[package]
name = "datui"
version = "0.2.0"
edition = "2021"
license = "MIT"

[dependencies]
clap = { version = "4.5.54", features = ["derive"] }
color-eyre = "0.6.5"
crossterm = "0.29.0"
dirs = "5.0"
fs2 = "0.4"
polars = { version = "0.52.0", features = ["json", "lazy", "parquet", "polars-io", "timezones", "strings", "pivot"] }
ratatui = { version = "0.30.0", features = ["all-widgets"] }
regex = "1.10"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"

# improve the performance of color-eyre for debug builds
[profile.dev.package.backtrace]
opt-level = 3
