[package]
name = "datui"
description = "A terminal user interface for data analysis"
repository = "https://github.com/derekwisong/datui"
version = "0.2.6"
edition = "2021"
license = "MIT"
default-run = "datui"

[dependencies]
datui-cli = { path = "crates/datui-cli" }
clap = { version = "4.5.54", features = ["derive"] }
color-eyre = "0.6.5"
crossterm = "0.29.0"
dirs = "5.0"
fs2 = "0.4"
ratatui = { version = "0.29.0", features = ["all-widgets"] }
regex = "1.10"
tui-textarea = "0.7"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
supports-color = "3.0"
toml = "0.8"
bzip2 = "0.4"
xz2 = "0.1"
flate2 = "1.0"
zstd = "0.13"

[dependencies.polars]
version = "0.52.0"
default-features = false
features = [
    "csv",
    "dtype-datetime",
    "json",
    "lazy",
    "parquet",
    "polars-io",
    "temporal",
    "timezones",
    "strings",
    "pivot",
    "decompress"
]

[dev-dependencies]
tempfile = "3.8"

[build-dependencies]
clap = { version = "4.5.54", features = ["derive"] }
clap_mangen = "0.2"
datui-cli = { path = "crates/datui-cli" }

# improve the performance of color-eyre for debug builds
[profile.dev.package.backtrace]
opt-level = 3

[profile.release]
strip = true      # Automatically strip symbols from the binary (reduces size)
lto = "thin"      # "Thin" LTO is much faster to compile than "fat" LTO
codegen-units = 1 # slightly slower compile, but faster runtime code. Set to 16 for faster compile.
opt-level = 3     # Optimize for speed